/* Global Styles
------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    color: #5a5a5a;
    padding-top: 2em;
}

/* Navbar
------------------------- */

#mainNav {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand {
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
}

.nav-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Home Banner
------------------------- */

.homeParallax {
    background-image: url("../img/wildspire-waste.jpeg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background-blend-mode: multiply;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 5em;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 2.5em;
    padding-bottom: 20px;
}

.sub-title {
    font-size: 2em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-bottom: 2em;
}

.home-button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: inline-block;
    letter-spacing: 0.2em;
    font-size: 15px;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border: 2px #fff solid;
    color: #fff;
    text-transform: uppercase;
    transition: ease-in-out .33s;
}

.home-button:hover {
    text-decoration: none;
    background-color: #000;
    border-color: #CFEC3A;
    color: #CFEC3A;
}

a.home-button:visited {
    color: #fff;
}

.row {
    margin-top: 2em;
}

/* Assignments Section
------------------------- */

#assignmentsContainer {
    padding-bottom: 1.5em;
}

#assignments {
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
}

#colAssignments {
    padding-bottom: 5em;
}


#assignments-hr {
    border-bottom-color: red;
    padding-bottom: 2em;
}

.assignment-title {
    padding-bottom: 1.5em;
}

#homeworkAssignment {
    transition: ease-in-out .33s;
}

#homeworkAssignment:hover {
    opacity: 0.5;
    transition: ease-in-out .33s;
}

.assignment-text {
    padding-top: 1em;
    padding-bottom: 1em;
}

.assignment-button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    letter-spacing: 0.2em;
    font-size: 15px;
    width: 15em;
    height: auto;
    padding: 1em;
    border: 2px #000 solid;
    color: #000;
    text-transform: uppercase;
    transition: ease-in-out .33s;
    justify-content: center;
    align-items: center;
}

.assignment-button:hover {
    text-decoration: none;
    background-color: #000;
    border-color: #CFEC3A;
    color: #CFEC3A;
}

/*
a.assignment-button:visited {
    color: #CFEC3A;
}
*/

/* About Section
------------------------- */

.aboutParallax {
    background-image: url("../img/coral-highlands.jpeg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 100%);
    background-blend-mode: multiply;
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    padding-top: 1.5em;
    padding-bottom: 0.3em;
    font-size: 3.5em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;

}

img {
    width: 100%;
}

#contact {
    padding-top: 1em;
}

#eMail {
    display: inline-block;
    padding: 1em;
    color: white;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#eMail:hover {
    color: #D54B3D;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#gitHub {
    display: inline-block;
    padding: 1em;
    color: white;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#gitHub:hover {
    color: #773085;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#linkedIn {
    display: inline-block;
    padding: 1em;
    color: white;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#linkedIn:hover {
    color: #1178B3;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#instagram {
    display: inline-block;
    padding: 1em;
    color: white;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

#instagram:hover {
    color: #CA4B6D;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    transition: all 0.5s;
}

/* Footer
------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
}

/* Responsive stuff
------------------------- */

/* Not fully responsive yet
--------------------------- */

@media screen and (max-width: 768px) {

    .container {
        width: 90%;
    }

    .title {
        font-size: 3em;
        text-transform: uppercase;
        padding-top: 4em;
    }

    .title span {
        display: none;
    }

    .title:after {
        content: 'Multimedia Programming';
    }

    .sub-title {
        font-size: 3em;
        font-weight: 400;
    }

    .sub-title span {
        display: none;
    }

    .sub-title:after {
        content: 'II';
    }

    #homeNonParallax {
        background-image: url('../img/coral-highlands.jpeg'), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 100%);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center 65%;
        height: 100vh;
    }

    .assignment-title {
        padding-bottom: 0.5em;

    }

    #aboutNonParallax {
        background-image: url('../img/everstream.jpeg'), linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 100%);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center 65%;
        height: 205vh;
    }

    img {
        padding-bottom: 1.5em;
    }
}
