// PRIMARY COLORS
$primary-color: #F086AC;
$primary-color-light: #FDC2D8;
$primary-color-dark: #DA517F;
$primary-color-darker: #c72c62;

// BASIC COLORS
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;