// Footer
.footer {
    background-color: #000;
    padding: 2rem;;
    text-align: center;
    
    // Footer Social Icons - ul
    &__social {
        font-size: 3rem;

        // Footer Social Icons - li
        &--media {
            display: inline-block;
            padding: 1rem;
            // margin-right: 1rem;
            transition: all .3s;

            &:hover {
                transform: rotate(10deg) scale(1.5);
            }

            // Footer Social Icons - a
            &-link {
                color: $color-white;
                transition: all .3s;

                &:hover {
                    color: $primary-color-dark;
                }
            }
        }
    }

    // Footer Text
    &__text {
        color: $color-white;
        font-size: 1.5rem;

        // Footer Link
        &-link {
            color: $primary-color-light;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                color: $primary-color-dark;
            }
        }
    }
}

