// TASKLIST
.tasklist {
    text-align: center;
    min-height: calc(100vh - 330px);
    
    // Tasklist input
    &__input {
        width: 25%;
        padding: 1rem 1rem;
        border-radius: 50rem;
        font: inherit;
        font-size: 1.5rem;
    }

    // Tasklist button
    &__button {
        padding: 1rem 1rem;
        border-radius: 50rem;
        font: inherit;
        font-size: 1.5rem;
    }

    // Tasks
    &__tasks {
        font-size: 3rem;
    }
}